<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 2</title>
    <link type="text/css" href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <h2><a href="../views/index.html">Link to Start Page</a></h2>
    <a href="../views/index.html">Link to Start Page</a>
    <h2>Judre's Countries API Call</h2>
    <button>Call API</button>
    <script src="../public/ex2.js"></script>
</body>
</html>