<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asher's Chapter 25 Tutorial</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h2>Judre's's Web Assignment Solution</h2>
    <h2>Links:</h2>
    <a href="/api/forms">Exercise 1: Order- Process a Form</a><br>
    <a href="/api/countries">Exercise 2: Send JSON to API</a><br>
    <a href="/api/articles">Exercise 3: Articles -  Process a Form</a><br>
</body>
</html>
